


.ans{
   
    width: 20%;
    margin: 100px auto;
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 2%;
    border: 1px solid rgb(56, 129, 224);

}

.six_input{
    border: 1px solid rgb(56, 129, 224);
}

#six_submit{
    display: block;
    margin: 2% 20%;
    background-color: white;
    border: 1px solid rgb(56, 129, 224);

}

span{
    padding-right: 15px;
}

#seven_submit{
    display: block;
    margin: 2% 20%;
}

input[type=checkbox] {
    outline: 1px solid rgb(117, 201, 223);
  }

#tomove{
    margin-left: 2.6px;
    margin-top: 3px;
}
.form{
     
    width: 44%;
    margin: 100px auto;
    background: #f1f1f1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 2%;
    border: 1px solid rgb(52, 53, 54);
    box-shadow: 0 0 8px rgba(46, 43, 43, 0.1);


}

.login{
 
 margin: 0% 36%;

 width: 30%;

}
img{
    max-height: 10%;
    max-width: 90%;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.inputs input{
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: white;
}
.myinput{
    margin-left: 10px;
    box-sizing: border-box;
    width: 47%;
    margin-top: 2%;

}

.required
{
    color: red;
}

.textarea{
    margin-left: 2%;
    margin-top: 2%;
}
textarea{
    display: block;
    height: 15%;
    width: 100%;
    margin-top: 2%;
}
.check{
    margin-left: 1%;
    margin-top: 2%;

}
a{
    color: blue;
}
#last_submit{
      color: white;
       padding-top: 1%;
       padding-bottom: 1%;
       padding-left: 3%;
        padding-right: 3%;
        margin: 2% 20%;
        background-color: rgb(26, 62, 104);
        border: 1px solid rgb(56, 129, 224);
        
    
}
.submit{
    margin-left: 28%;
}
.calculator{
      
    width: 20%;
    margin: 100px auto;
    background: #f1f1f1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 2%;
    border: 2px solid rgb(25, 26, 27);
    box-shadow: 0 0 8px rgba(46, 43, 43, 0.1);



}
.inn{
    margin-top: 3%;
    margin-bottom: 3%;
}
.inn input {
    display: inline-block;
}
button:active{
    border-color: turquoise;
}